/* Style for Captstone Colmar Academy Project */
/* by L Anderson */
/* wire frame:  https://s3.amazonaws.com/codecademy-content/courses/freelance-1/capstone-2/colmar-academy-spec.png */

body {
  margin-left: 8px;
  margin-right: 8px;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  max-height: 100%;
}

video {
  max-width: 100%;
  max-height: 100%;
}

/* hiding mobile icons */
.icons {
  display: none;
}

.mobilephoto {
  display: none;
}

/* Heading area */
.logo {
  height: 32px;
  width: 32px;
  background-image: url("../resources/images/ic-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 24px;
}

nav {
  padding: 16px 24px 16px 0;
}

nav h1 {
  font-size: 24px;
}

h1 {
  float: left;
  font-size: 32px;
}

h2 {
  font-size: 32px;
  padding: 32px 0 32px 0;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

ul {
  float: right;
}

li {
  display: inline-block;
  text-align: center;
  margin-left: 16px;
}

p {
  line-height: 140%;
}

.upper {
  text-transform: uppercase;
}

.lucent {
  opacity: 0.80;
  color: grey;
}

/* Flex box area */

.flex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
}



/* Focus area - first section */

.focus {
  align-items: center;
  clear: both;
  padding: 32px 0 32px 0;
}

.focus h2 {
  font-size: 40px;
}

.focus p {
  font-size: 24px;
  font-weight: bold;
  opacity: 0.75;
}

.left {
  margin-left: 24px;
  width: 60%;
}

.right {
  margin-left: 24px;
  width: 40%;
}

.button {
  padding: 8px 0 8px 0;
  margin-top: 24px;
  width: 80%;
  max-width: 450px;
  text-align: center;
  background-color: black;
}

.button a {
  color: white;
}

.photo {
  width: 35%;
  height: auto;
  padding-top: 16px;
}

.info {
  margin-left: 16px;
  width: 65%;
}

.info a {
  color: #00a8e5;
}

.info p {
  padding-top: 8px;
  padding-right: 8px;
}

/* GemeralInfo section styling */
.GeneralInfo {
  margin-top: 32px;
  margin-bottom: 32px;
}

.GeneralInfo h2 {
  padding-bottom: 24px;
}

.color {
  background-color: Gainsboro;
}

.righttile {
  padding: 0 0 16px 16px;
  align-items: center;
}

.wrap {
  flex-flow: row wrap;
  justify-content: space-around;

}

.CourseInfo {
  padding: 0 72px 32px 72px;
}

.CourseInfo h2 {
  text-align: center;
}

.CourseInfo p {
  padding-top: 8px;
}

figcaption {
  padding-top: 32px;
  font-size: 12px;
}

.thesis h2 {
  text-align: center;
}

.thesis h3 {
  padding: 24px 0 8px 0;
}

.thesis .left {
  padding-bottom: 32px;
}

.tile {
  max-width: 30%;
  background-color: white;
  margin-bottom: 32px;
}

.inside {
  padding: 16px 8px 24px 16px;
}

footer {
  padding: 16px 24px 40px 0;
}

footer p {
  font-size: 12px;
}

footer a {
  font-size: 12px;
}

/******************************/
/***** Mobil styling area *****/
/******************************/

@media only screen and (max-width: 700px){

  /* Hidden elements */
  nav h1, ul {
    display: none;
  }

  .logo {
    display: none;
  }

  .hidden {
    display: none;
  }

  .color {
    background-color: white;
  }

  .mcolor {
    background-color: gainsboro;
    padding-bottom: 32px;
  }

  .GeneralInfo {
    margin-top: 16px;
  }

  .info {
    margin-top: 32px;
  }

/* CourseInfo Section Buttons */

  .CourseInfo {
    padding: 0 8px 32px 8px;
  }

  .tile {
    max-width: 100%;
    background-color: gainsboro;
    margin-bottom: 8px;
  }

  .flex {
    display: inline;
  }

  .icons {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .mobilephoto {
    display: block;
  }

  .left {
    margin-left: 0;
    width: 100%;
  }

  .right {
    margin-left: 16px;
    width: inherit;
  }

  .button {
    width: 95%;
    max-width: 95%;
    background-color: #848484;
    font-weight: bold;
  }

  .photo {
    width: inherit;
    margin-right: 16px;
  }

  /* Mobile Footer */
  footer {
    padding: 16px 24px 16px 8px;
  }

}
